<!doctype html>

<html>
<head>
	<title>NoteAble</title>	

	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--CSS Files -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <script src ="/js/profile.js"></script>

</head>

<body>
 <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><img alt="Brand" src="/pics/LOGO-2-7_blue.png" width = "35px" height = "45px"></a>
          <p class = "navbar-text">Profile</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Content Goes here -->
  <div class="container">
    <div class="row">
      <h1 style="text-align:center"></h1>
    </div>
    <p style="text-align: center"><img src="/pics/profile.png" alt="Profile" height="140" width="140"><p>
      <div class="row">
      <h1 style="text-align: center">Username</h1>
      </div>
      <p style="text-align: center">Email: placeholder@placeholder.com</p>
      
      <!--Change Passsword-->
        <table id = "wrapper"> 
        <tr>
          <td>
            <br>
                          <!-- where the error occurred --> 
            <button id="myBtn" class="btn btn-secondary">Change Password</button>
              <!-- The Modal -->
              <div id="myModal" class="modal">

                <!-- Within the Modal (pop-up window) -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <br>
                  <br>
                  <!-- Current -->
                  <table id ="wrapper">
                    <tr>
                      <td>
                        <label for = "exampleInputPW">Current Password</label>
                    <input type = "password" class = "form-control" name = "password" placeholder= "Enter current password">
                       </td>
                    </tr>
                  </table>
                  <!-- New -->
                  <table id = "wrapper">
                    <tr>
                      <td>
                        <label for = "exampleInputPW">Password</label>
                        <input type = "password" class = "form-control" name = "password" placeholder= "Enter new password">
                      </td>
                    </tr>
                  </table>
                  <!-- Retype New -->
                  <table id = "wrapper">
                    <tr>
                      <td>
                        <label for = "exampleInputPW">Repeat New Password</label>
                        <input type = "password" class = "form-control" name = "password" placeholder= "Retype new password">
                      </td>
                    </tr>
                  </table>

                  <!-- Enter button -->
                  <table id = "wrapper">
                    <tr>
                      <td><a href = "/profile"><button class = "confirm_btn"> Confirm </button></a></td>
                    </tr>
                  </table>


                </div>
                <!-- end of Modal content (popup window) --> 
              </div>

          </td>
        </tr>
     </table>

  </div>

  <!-- back button -->
  <div class = "back">
    <a href = "/index"><img src = "/pics/arrow_wh.png" width="40" height = "42">
  </div>
  <!-- end of back button -->
  
  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>
